.table_container {
  width: 95%;
  direction: rtl;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1em;
  position: relative;
  .content_table {
    border: 1px solid #dadce6;
    box-sizing: border-box;
    border-radius: 0px 0px 5px 5px;
    background-color: #fff;
    position: relative;
    .table_row {
      display: flex;
      align-items: center;
      input[type="checkbox"] {
        -ms-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
        border: 1px solid #868686;
        box-sizing: border-box;
        border-radius: 2px;
      }
      td:hover {
        color: #1a73e8;
      }
    }
  }
  .edit_icon {
    width: 88px;
    div {
      margin: 0.5em;
      display: inline-flex;
    }
  }
  .check_style{
    background-color:rgba(92, 106, 196, 0.05); 
  }

}
.default_table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

// tr:nth-child(even){background-color: #f2f2f2;}
// tr:hover {background-color: #ddd;}
